img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
body{
    background-color: gainsboro;
}
h1{
    font-family: monospace;
}
h3{
    color: blue;
    text-align: center;
}