*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(62, 62, 63);
}

#nome{
    height: 75px;
    background-color: rgb(62, 62, 63);
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    line-height: 75px;
    color: rgb(147, 149, 151);
}

#saudacao{
    font-family: 'Montserrat Alternates', sans-serif;
    padding: 10px;
    text-align: center;
    font-size: 40px;
    background-color: rgb(147, 149, 151);
    color: rgb(62, 62, 63);
}

#indice{
    color: rgb(147, 149, 151);
    padding: 20px 0px;
    height: auto;
    display: inline-block;
    text-align: center;
    width: 100%;
    background-color: rgb(62, 62, 63);
    border-bottom: 1px solid rgb(147, 149, 151);
    
}

#indice h2{
    padding: 5px;
    font-size: 35px;
}
.link-indice{
    display: inline-block;
    margin: 5px;

}

.link-indice a{
    text-decoration: underline;
    color: black;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    background-color: rgb(147, 149, 151);
    border-radius: 3px;
    box-shadow: 2px 2px 2px black;
}

#indice ul li.link-indice:nth-of-type(1) a{
    border-left: 0;
}

.tituloseção{
    padding: 10px;
    font-size: 30px;
    text-align: center;
    color: rgb(147, 149, 151);
}

/* apresentação*/

#foto{
    width: 30%;
    float: left;
}

#desc{
    display: inline-block;
    width: 70%;
    padding-left: 10px;
    color: rgb(147, 149, 151);
    font-size: 20px;
}
#desc p{
    position: relative;
    padding-top: 50px;
    padding-left:31%;
}

/* habilidades*/

#habilidades{
    text-align: center;
}

#softskills{
    background-color: rgb(245, 233, 77);
    border-radius: 8px;
    width: 300px;
    height: 180px;
    padding: 20px;
    text-align: center;
    display: inline-block;
    margin-right: 20px;
    box-shadow: 2px 2px 2px black;
}

.soft{
    display:  inline-block;

}
.soft img{
    width: 80px;
    padding-top: 20px;
}
#hardskills{
    background-color: rgb(245, 233, 77);
    border-radius: 8px;
    width: 300px;
    height: 180px;
    padding: 20px;
    text-align: center;
    display: inline-block;
    box-shadow: 2px 2px 2px black;
}

.hard{
    display:  inline-block;
}
.hard img{
    width: 80px;
    padding-top: 20px;
}

/* sites*/

.listasites{
    text-align: center;
}

.acesse{
    margin-right: 20px;
    display: inline-block;
    width: 300px;
    height: 200px;
    vertical-align: middle;
    background-color: rgb(245, 233, 77);
    border-radius: 8px;
}

.acesse:hover{
    background-color: rgba(245, 234, 77, 0.671);
    border-left: 3px solid rgb(147, 149, 151);
    border-bottom: 3px solid rgb(147, 149, 151);

}

.acesse img{
    padding-top: 50px;
    width: 50px;
}

#youtube{
    text-decoration: none;
}

.linksite:hover #youtube{
    color: red;
    font-weight: bold;
}

#twitch{
    color: purple;
}

.linksite {
    color: black;
}

.linksite:hover #twitch{
    font-weight: bold;
}